*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 900px;
    margin: 50px auto;
}

.messages_container{
    margin: 30px;
}

.comments_container{
    margin-top: 10px;
    margin-left: 50px;
}

